<div class="container bg-body">

    <h4 class="mt-5 pt-3">Ramdom Password Genrator</h4>

    <hr>

    <form>

        <div class="d-flex">
            <div class="col-sm-4">
                <label for="Password Length">Password Length</label>
            </div>
            <div class="col-sm-8">
                <input type="number" id="Password Length" class="w-100" required>
                <small>Length is available between 4 ~ 16.</small>
            </div> 
        </div>

        <div>
            
        </div>

    </form>
</div>

</div>