<div class="container bg-body mw-50">

    <h4 class="mt-5 pt-3">Ramdom Password Genrator<i class="fa-solid fa-key ms-1"></i></h4>

    <hr>

    <form id="form-submit" novalidate>

        {{!-- password length --}}
        <div class="d-flex">
            <label for="Password Length" class="col-sm-4">Password Length</label>
            <div class="col-sm-8">
                <input type="number" id="Password Length" class="password-Length w-100" min="4" max="16"
                    name="Password-Length" required>
                <small>Length is available between 4 ~ 16.</small>

                <div class="invalid-feedback">
                    This field is required.
                </div>

                <div class="valid-feedback">
                    Good!
                </div>
            </div>
        </div>

        {{!-- filter options --}}

        <fieldset>
            {{!-- Include Lowercase Characters --}}
            <div class="d-flex my-3">
                <label for="lower-filter" class="col-sm-4">Include Lowercase Characters</label>
                <input type="checkbox" class="col-sm-1" id="lower-filter" name="filters" value="1">
                <label for="lower-filter" class="col-sm-4">(e.g. abcdefg)</label>
            </div>

            {{!-- Include Uppercase Characters --}}
            <div class="d-flex my-3">
                <label for="upper-filter" class="col-sm-4">Include Uppercase Characters</label>
                <input type="checkbox" class="col-sm-1" id="upper-filter" name="filters" value="2">
                <label for="upper-filter" class="col-sm-4">(e.g. ABCDEFG)</label>
            </div>

            {{!-- Include Numbers --}}
            <div class="d-flex my-3">
                <label for="filter-numbers" class="col-sm-4">Include Numbers</label>
                <input type="checkbox" class="col-sm-1" id="filter-numbers" name="filters" value="3">
                <label for="filter-numbers" class="col-sm-4">(e.g. 123456)</label>
            </div>

            {{!-- Include Symbols --}}
            <div class="d-flex my-3">
                <label for="filter-symblos" class="col-sm-4">Include Numbers</label>
                <input type="checkbox" class="col-sm-1" id="filter-symblos" name="filters" value="4">
                <label for="filter-symblos" class="col-sm-4">(e.g. @#$%)</label>
            </div>
        </fieldset>

        {{!-- Exclude Characters --}}
        <div class="d-flex">
            <label for="Exclude Characters" class="col-sm-4">Exclude Characters</label>

            <div class="col-sm-8">
                <input type="text" id="Exclude Characters" class="w-100" name="exclude-characters">
                <small>This characters will not appear in the password</small>
            </div>
        </div>

        {{!-- Generate place --}}
        <div class="showPasswords bg-info" id="result">
            <p class="printer">Your password is : </p>
        </div>

        <button type="submit" class="btn btn-success my-3">Generate Password</button>

    </form>
</div>


<script src="/javascripts/all.js"></script>
<script src="/javascripts/index.js"></script>